<div>
<input class="element form-control form-control-lg" type="text" placeholder="Article Title"
    aria-label=".form-control-lg example">
<input class="element form-control" type="text" placeholder="What's this article about?" aria-label="default input example" >
<textarea class="element form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Write your article"></textarea>
<input class="element form-control" type="text" placeholder="Enter tags" aria-label="default input example">
</div>

