.btn-primary {
  background-color: var(--primary-lightBlue-color);
  color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited {
  background-color: var(--primary-darkBlue-color);

  color: white;
}

.form {
  text-align: center;
}

.ref {
  color: var(--primary-darkBlue-color);
}
