.btn-primary {
  background-color: rgb(72, 173, 72);
  color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited {
  background-color: rgb(32, 112, 32);

  color: white;
}

.form {
  text-align: center;
}

.ref {
  color: rgb(32, 112, 32);
}
