<div class="hero">
<h2 class="heroLogo">conduit</h2>
<p class="heroText">A place to share your knowledge.</p>
</div>
<section class="articlesField">
<button class="btn btn-link" type="button">Global Feed</button>

<article class="article">
    <span class="articleAuthorAvatar"></span>
    <a class="articleAuthorName" href="">Author</a>
    <p class="articleDate">Date</p>
    <h3 class="articleHead">Heading of the article</h3>
    <p class="articleText">Some text from article</p>
    <a class="articleReadMore" href="">Read more...</a>
    <span class="articleHeart"> LikesNumber</span>
    <button class="articleTag btn btn-light" type="button">Article Tag</button>
</article>

<article class="article">
    <span class="articleAuthorAvatar"></span>
    <a class="articleAuthorName" href="">Author</a>
    <p class="articleDate">Date</p>
    <h3 class="articleHead">Heading of the article</h3>
    <p class="articleText">Some text from article</p>
    <a class="articleReadMore" href="">Read more...</a>
    <span class="articleHeart"> LikesNumber</span>
    <button class="articleTag btn btn-light" type="button">Article Tag</button>
</article>

<article class="article">
    <span class="articleAuthorAvatar"></span>
    <a class="articleAuthorName" href="">Author</a>
    <p class="articleDate">Date</p>
    <h3 class="articleHead">Heading of the article</h3>
    <p class="articleText">Some text from article</p>
    <a class="articleReadMore" href="">Read more...</a>
    <span class="articleHeart"> LikesNumber</span>
    <button class="articleTag btn btn-light" type="button">Article Tag</button>
</article>

<div class="tags">
    <p class="tagsHead">Popular Tags</p>
    <div class="tagsFlex">
    <button class="tag btn btn-secondary btn-sm" type="button">welcome</button>
    <button class="tag btn btn-secondary btn-sm" type="button">implementations</button>
    <button class="tag btn btn-secondary btn-sm" type="button">codebaseShow</button>
    <button class="tag btn btn-secondary btn-sm" type="button">introduction</button>
    </div>
</div>
</section>