.hero {
  background-color: var(--home-color);
  color: white;
  text-align: center;
  padding: 1.7rem;

  & {
    font-weight: bold;
  }
}

.article {
  position: relative;
  width: 80%;
}

.articleHeart::before {
  content: "\1F49A";
}

.articleAuthorAvatar {
  border-radius: 50%;
  height: 90%;
  max-height: 2rem;
}

.articleAuthorName {
  color: var(--primary-lightGreen-color);
}

.articleDate {
  color: gray;
  font-size: 0.7rem;
  margin-bottom: 0px;
}

.articleHeart {
  position: absolute;
  right: 0px;
  top: 1.2rem;
}

.articleTag {
  margin-top: 0.2rem;
  font-size: 0.7rem;
}

.articleTags {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.btn-link {
  color: var(--primary-lightGreen-color);
  margin-top: 1.1rem;
}

.article::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background: var(--primary-light-color);
  border-radius: 0.1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.articleText {
  color: gray;
  width: 78%;
}

.articleReadMore {
  color: var(--primary-light-color);
}

.allArticles {
  position: relative;
}

.tags {
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
}

.tag {
  margin-bottom: 0.1rem;
  font-size: 0.7rem;
}

.tagsHead {
  position: absolute;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.activeBtn {
  background-color: rgb(141, 245, 141);
}
