<section class="hero">
    <h2 class="title">{{article.title}}</h2>
    <div class="heroFlex">
    <div class="aboutAuthor">
        <img class="articleAuthorAvatar" src="{{article.author.image}}" alt="">
        <a class="articleAuthorName" href="">{{article.author.username}}</a>
        <p class="articleDate">{{article.createdAt | date:'longDate'}}</p>
    </div>
    <button class="followBtn btn btn-light" type="button"> + Follow {{article.author.username}}</button>
    <button class="likes likeBtn btn btn-outline-success" type="button">Favourite Article {{article.favoritesCount}}</button>
    </div>
</section>

<section class="article">
<p>{{article.body}}</p>
<ul>
<ul *ngFor="let tag of article.tagList">
    <li><button class="articleTag btn btn-light btn-sm" type="button">{{tag}}</button></li>
</ul>
</ul>
</section>

<div class="heroFlex aboutAuthorMain">
<div class="aboutAuthor">
    <img class="articleAuthorAvatar" src="{{article.author.image}}" alt="">
    <a class="articleAuthorName" href="">{{article.author.username}}</a>
    <p class="articleDate">{{article.createdAt | date:'longDate'}}</p>
</div>
<button class="followBtn btn btn-light" type="button"> + Follow {{article.author.username}} </button>
<button class="likes likeBtn btn btn-outline-success" type="button">Favourite Article {{article.favoritesCount}} </button>
</div>

<div class="comments">
<p class="toLogIn"> <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this article.</p>
    <ul *ngFor="let comment of comments">
        <li>
<div class="card">
<div class="card-body">

    <blockquote class="blockquote mb-0">
        <p>{{comment.body}}</p>
    </blockquote>
    <div class="card-header">
    <div class="aboutAuthorComment">
        <img class="articleAuthorAvatarComment" src="" alt="">
        <a class="articleAuthorNameComment" href="">{{comment.author.username}}</a>
        <p class="articleDateComment">{{comment.createdAt | date:'longDate'}}</p>
    </div>
    </div>
</div>

</div>
</li>
</ul>
</div>

   
