<section class="hero">
    <h2 class="title">Title</h2>
    <div class="heroFlex">
    <div class="aboutAuthor">
        <img class="articleAuthorAvatar" src="" alt="">
        <a class="articleAuthorName" href="">Name</a>
        <p class="articleDate">Date</p>
    </div>
    <button class="followBtn btn btn-light" type="button"> + Follow </button>
    <button class="likeBtn btn btn-outline-success" type="button">Favourite Article </button>
    </div>
</section>

<section class="article">
<p>text</p>
<ul>
    <li><button class="articleTag btn btn-light btn-sm" type="button">tags</button></li>
</ul>
</section>

<div class="heroFlex aboutAuthorMain">
<div class="aboutAuthor">
    <img class="articleAuthorAvatar" src="" alt="">
    <a class="articleAuthorName" href="">Name</a>
    <p class="articleDate">Date</p>
</div>
<button class="followBtn btn btn-light" type="button"> + Follow </button>
<button class="likeBtn btn btn-outline-success" type="button">Favourite Article </button>
</div>

<div class="comments">
<p class="toLogIn"> <a href="login">Sign in</a> or <a href="register">sign up</a> to add comments on this article.</p>
</div>