li {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;

  li {
    margin-left: 10px;
  }

  a {
    color: rgb(194, 193, 193);
    text-decoration: none;
  }
  a:hover,
  a:focus,
  a:active {
    color: black;
  }
}

.logo {
  color: rgb(32, 112, 32);
  font-weight: bold;
}
