.hero {
  padding: 2rem;
  background-color: var(--primary-lightBlue-color);
  position: relative;
  text-align: center;
}

.profileEditBtn {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.profileAvatar {
  border-radius: 50%;
  max-height: 7rem;
}

.profileEditBtn::before {
  content: "\2699";
}

.article {
  position: relative;
  width: 90%;
}

.articleHeart {
  position: absolute;
  right: 0px;
  top: 1.2rem;
}

.articleHeart::before {
  content: "\2764";
}

.articleTag {
  margin-top: 0.2rem;
  font-size: 0.7rem;
}

.articleTags {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.article::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background: var(--primary-light-color);
  border-radius: 0.1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.articleAuthorName {
  color: var(--primary-lightBlue-color);
}

.articleDate {
  color: gray;
  font-size: 0.7rem;
  margin-bottom: 0px;
}

.articleText {
  color: gray;
  width: 90%;
}

.articleReadMore {
  color: var(--primary-light-color);
}

.articleAuthorAvatar {
  border-radius: 50%;
  height: 90%;
  max-height: 2rem;
}

.buttons button {
  margin-left: 0.5rem;
}

.buttons {
  margin-top: 0.5rem;
}

.noArticle {
  margin: 0.5rem;
}
