// разобраться, почему не подключаются с styles.scss
ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--primary-dark-color);

  a:hover,
  a:active {
    text-decoration: none;
    color: var(--primary-dark-color);
  }
}
//

.hero {
  padding: 2rem;
  background-color: rgb(137, 209, 167);
  position: relative;
  text-align: center;
}

.profileEditBtn {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.profileAvatar {
  border-radius: 50%;
}

.profileEditBtn::before {
  content: "\2699";
}

.profileFeedsBtns {
  color: var(--primary-light-color);
  text-decoration: none;
}

.profileFeedsBtns:hover {
  color: var(--primary-lightGreen-color);
}

.article {
  position: relative;
  width: 90%;
}

.articleHeart {
  position: absolute;
  right: 0px;
  top: 1.2rem;
}

.articleTag {
  margin-top: 0.2rem;
  font-size: 0.7rem;
}

.articleTags {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.btn-link {
  color: var(--primary-lightGreen-color);
  margin-top: 1.1rem;
}

.article::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background: var(--primary-light-color);
  border-radius: 0.1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.lineAfterBtn {
  margin-top: 0px;
}

.articleAuthorName {
  color: var(--primary-lightGreen-color);
}

.articleDate {
  color: gray;
  font-size: 0.7rem;
  margin-bottom: 0px;
}

.articleText {
  color: gray;
  width: 90%;
}

.articleReadMore {
  color: var(--primary-light-color);
}

.articlesField {
  position: relative;
}

.aboutAuthor {
  display: flex;
  align-items: center;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.articleAuthorAvatar {
  border-radius: 50%;
  height: 90%;
  max-height: 2rem;
}
