:root {
  --primary-dark-color: rgb(46, 45, 45);
  --primary-white-color: rgb(240, 234, 234);
  --primary-light-color: rgb(92, 87, 87);
  --primary-lightGreen-color: rgb(137, 209, 167);
  --primary-darkGreen-color: rgb(63, 107, 82);
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--primary-dark-color);

  a:hover {
    text-decoration: none;
    color: var(--primary-dark-color);
  }
}

body {
  color: var(--primary-light-color);
}
