<nav class="d-flex justify-content-around">
    <a class="navbar-brand logo" href="">Real World</a>
    <ul class="navLinks d-flex justify-content-aroun align-items-center">
    <li ><a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <ng-container *ngIf="isLoggedUser$ | async">
            <li *ngFor="let item of itemsLogged" ><a [routerLink]="[item.url]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">{{item.name}}</a>
            </li>
        </ng-container>
        <ng-container *ngIf="!(isLoggedUser$ | async)">
            <li *ngFor="let item of itemsNotLogged" ><a [routerLink]="[item.url]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">{{item.name}}</a>
            </li>
        </ng-container>
        <li *ngIf="(isLoggedUser$ | async) as user"> <a class="d-flex align-items-center" [routerLink]="['/profile', user.username]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><img class="image" src="{{user.image}}">{{user.username}}</a>
        </li>
        <li *ngIf="isLoggedUser$ | async"> <button class="btn btn-outline-dark btn-sm" type="button"
                (click)="doUserLogout()">Log Out</button> </li>
    </ul>
</nav>
